<div class="book-details">
    <div>
        <img src="@Model.CoverImage" alt="Cover" class="cover-img-large" />
    </div>

    <div class="details-info">
        <h2>@Model.Title</h2>
        <p style="color: #b30000; font-weight: bold;">@Model.Author.ToUpper()</p>
        <p style="font-size: 22px; font-weight: bold; margin-top: 10px;">@Model.Price €</p>

        <p><strong>Zhanri:</strong> @Model.Genre</p>
        <p><strong>Publikuesi:</strong> @Model.Publisher</p>
        <p><strong>Viti i Publikimit:</strong> @Model.YearPublished</p>

        <p>
            <strong>Stoku:</strong>
            @if (Model.Stock > 0)
            {
                <span style="color: green; font-weight: bold;">Në dispozicion (@Model.Stock)</span>
            }
            else
            {
                <span style="color: red;">Nuk ka në stok</span>
            }
        </p>

        @if (Model.Stock > 0)
        {
            <form asp-action="Buy" asp-controller="Book" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="buy-btn">Blej Librin</button>
            </form>
        }
    </div>
</div>
